.page {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering:optimizeLegibility;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 45px;
    box-sizing: border-box;
    position: relative;
    min-width: 320px;
}

@media screen and (max-width: 1279px) {
    .page {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 1079px) {
    .page {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 755px) {
    .page {
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 28px;
    }
}


