.login__input {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #CCC;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    padding: 0 0 10px;
    background-color: transparent;
}