.header__burger{
    display: none;
    background-image: url(../../../images/Burger.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 650px) {
    .header__burger{
        display: block;
        margin-top: 27px;
    }}